body {
    background-color: #01446D;
}
.hero {
    background-image: linear-gradient(rgba(0, 0 , 0, 0.7), rgba(0, 0 , 0, 0.7)),  url("/images/durban.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 170px;
    margin: 5px 50px;
    color: antiquewhite;
}
.hero h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 1;
    font-size: 96px;
}
.hero h3, h2 {
    font-size: 24px;
}
.hero p {
    font-size: 20px;
    margin-top: 5px;
}
.hero a {
    background-color: antiquewhite;
    padding: 15px 30px;
    border: none;
    color: #01446D;
    font-weight: bolder;
}
.hero a:hover {
    cursor: pointer;
}
.why-durban {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 170px;
    margin: 0px 50px;
    background-color: #AEAFAB;
    grid-gap: 20px;
}
.why-durban img {
    width: 100%;
}
footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/best-city.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 170px;
    margin: 0px 50px;
    color: antiquewhite;
}
.about {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 20px;
}
.about a {
    color: antiquewhite;
}
.about a:hover {
    color: #01446D;
}
@media (max-width: 900px) {
    .hero {
        width: 100%;
        overflow: hidden;
        margin: 0px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .why-durban, footer {
        width: 100%;
        overflow: hidden;
        grid: none;
        margin: 0px;
    }
}
@media (max-width: 1300px) {
    .why-durban, .about {
        grid: none;
    }
}